<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
	integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />

<body>
	<form id="form" name='form' th:action="@{/estime}" th:object="${estimeForm}" method="post">
		<input type="hidden" id="projectId" name="projectId" th:value="*{projectId}" />
		<input type="hidden" id="estimes" name="estimes" th:value="*{estimes}" />
	</form>
	<div id="estimateSpredsheet"></div>
	<script type="text/javascript" th:src="@{/js/estimate/columsConfig.js}"></script>
	<script type="text/javascript" th:src="@{/js/estimate/sheet.js}"></script>
	<div>
		<input id="send" type="button" value="設定">
	</div>
</body>
<script>
$('#send').click(function() {
	$('#estimes').val(JSON.stringify(estimateSpredsheets.getJson()));
	$('#form').submit();
});
</script>
</html>